################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Todo.Api/bin/Debug/netcoreapp3.1
/.vs
/Todo.Api/obj
/Todo.Domain/bin/Debug/netcoreapp3.1
/Todo.Domain/obj
/Todo.Models/bin/Debug/netcoreapp3.1
/Todo.Models/obj
/Todo.Test/bin/Debug/netcoreapp3.1
/Todo.Test/obj
